body {
	margin: 0.25em;
	font-size: 100%;
	--background: radial-gradient(farthest-corner at 0 0, #00ffff, #007fff);
	--box_color: rgba(0, 0, 0, 0.25);
	--box_shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.5);
	--button_color: rgba(255, 255, 255, 0.25);
	--button_color_hovered: rgba(255, 255, 255, 0.75);
	--text_color: black;
	--text_color_transparency_25: rgba(0, 0, 0, 0.25);
	--text_color_transparency_50: rgba(0, 0, 0, 0.5);
	--text_color_transparency_75: rgba(0, 0, 0, 0.75);
	--animation_duration: 0s
}

body.dark {
	--background: radial-gradient(farthest-corner at 0 0, black, #0f0f0f);
	--box_color: rgba(255, 255, 255, 0.25);
	--box_shadow: 0.25em 0.25em 0.25em rgba(255, 255, 255, 0.5);
	--button_color: rgba(0, 191, 255, 0.25);
	--button_color_hovered: rgba(0, 191, 255, 0.75);
	--text_color: white;
	--text_color_transparency_25: rgba(255, 255, 255, 0.25);
	--text_color_transparency_50: rgba(255, 255, 255, 0.5);
	--text_color_transparency_75: rgba(255, 255, 255, 0.75)
}

div {
	margin: 0.25em;
	color: var(--text_color);
	font-family: 'Montserrat', sans-serif
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: var(--background)
}

#container {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll
}

button {
	background: var(--button_color);
	border: 0px solid;
	border-radius: 0.25em;
	box-shadow: var(--box_shadow);
	height: 2em;
	width: 12em;
	color: var(--text_color_transparency_50);
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	cursor: pointer;
	transition-duration: var(--animation_duration)
}

button:hover {
	background: var(--button_color_hovered)
}

a {
	color: rgba(255, 255, 255, 0.75)
}

.big {
	color: var(--text_color_transparency_50);
	font-size: 2em;
	font-weight: bold
}

.red {
	color: #ff0000
}

.header_box {
	position: relative;
	padding: 0.25em;
	background: var(--box_color);
	box-shadow: var(--box_shadow);
	border-radius: 0.25em;
	width: calc(100% - 1em)
}

.header_box div, .item div {
	margin: 0
}

.item {
	position: relative;
	margin: 0.25em;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0.25em;
	width: 15em;
	height: 10em;
	background: var(--button_color);
	box-shadow: var(--box_shadow);
	border-radius: 0.25em;
	display: inline-block;
	overflow: hidden;
	transition-duration: var(--animation_duration)
}

.item:hover {
	width: 20em;
	height: 12em;
	background: var(--button_color_hovered)
}

.item_fix {
	position: absolute;
	color: black
}

#slogan {
	color: var(--text_color_transparency_75)
}

#slogan2 {
	color: var(--text_color_transparency_25)
}

.header_box #slogan2 {
	height: 0;
	overflow: hidden;
	transition-duration: 0.5s
}

.header_box:hover #slogan2 {
	height: 1em
}

#theme {
	position: absolute;
	top: 0.25em;
	right: 0.25em
}