* {
	margin: 0.25em;
	text-align: center;
	font-family: 'Nunito', sans-serif
}

body {
	font-size: 100%;

	--background: radial-gradient(ellipse at top, #00000f, #00003f);

	--text_color_1: #bfdfff;
	--text_color_2: #00bfff;
	--text_color_3: #00bfff;
	--text_color_4: #00001f;

	--box_color: radial-gradient(ellipse at top, #07fb, #07f3);
	--box_shadow: 2px 2px 6px rgba(0, 127, 255, 0.5);

	--button_color: radial-gradient(ellipse at top, #07f3, transparent);
	--button_color_hovered: rgba(255, 255, 255, 0.8);

	--animation_duration: 0s
}

/*
HAPPY HALLOWEEN!
body {
	margin: 0.25em;
	font-size: 100%;
	text-shadow: 0px 0px 3px var(--text_color_1);
	--background: radial-gradient(farthest-corner at 0 0, #ff7f00, #ffbf00, #ff0000);
	--box_color: rgba(0, 255, 0, 0.5);
	--box_shadow: 0em 0em 0.25em rgba(0, 255, 0, 0.5), 0em 0em 1em rgba(0, 255, 0, 0.5);
	--button_color: rgba(95, 127, 0, 0.5);
	--button_color_hovered: rgba(255, 255, 255, 0.75);
	--text_color_1: #00ff00;
	--text_color_2: rgba(0, 255, 0, 0.25);
	--text_color_3: rgba(0, 255, 0, 0.5);
	--text_color_4: rgba(0, 255, 0, 0.75);
	--animation_duration: 0s
}

/*
END OF HALLOWEEN
*/

div {
	color: var(--text_color_1)
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: var(--background)
}

#container {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll
}

button {
	background: var(--button_color);
	border: 0px solid;
	border-radius: 0.5em;
	box-shadow: var(--box_shadow);
	height: 2em;
	width: 12em;
	color: var(--text_color_3);
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	transition-duration: var(--animation_duration)
}

button:hover {
	background: var(--button_color_hovered)
}

a {
	color: rgba(127, 191, 255, 0.8);
}

a.link {
	background: rgba(0, 63, 255, 0.25);
	border: 0px solid;
	border-radius: 0.25em;
	box-shadow: 0 0 0.5em rgba(0, 63, 255, 0.5);
}

.big {
	color: var(--text_color_3);
	font-size: 1.5em;
	font-weight: bold
}


.header {
	margin: 0
}

.header_box {
	position: relative;
	padding: 0.25em;
	background: var(--box_color);
	box-shadow: var(--box_shadow);
	border-radius: 0.25em;
	width: calc(100% - 1em)
}

.header_box div, .item div {
	margin: 0
}

.item {
	position: relative;
	margin: 0.25em;
	margin-right: 0;
	margin-bottom: 0;
	padding: 0.25em;
	width: 18em;
	height: 10em;
	font-size: 0.75em;
	background: var(--button_color);
	box-shadow: var(--box_shadow);
	border-radius: 0.25em;
	display: inline-block;
	overflow: hidden;
	transition-duration: var(--animation_duration)
}

.item:hover {
	height: 12em;
}

.item_fix {
	position: absolute;
	width: 18em;
	color: black
}

#slogan {
	color: var(--text_color_4)
}